.Title {
  color: white;
  font-size: 26px;
  letter-spacing: 10px;
}

@media (min-width: 376px) {
  .Title {
    font-size: 32px;
  }
}

@media (min-width: 768px) {
  .Title {
    font-size: 40px;
  }
}

