.TodoItem {
  height: 55px;
  border-top: 1px solid var(--bg-border);
  width: 100%;
  background-color: var(--bg-neutral-desaturated);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 11px;
}

.TodoItem:last-child {
  border-radius: 0 0 6px 6px;
}

.TodoItem-text {
  color: var(--text-bright);
  margin: 3px;
  width: 100%;
  font-size: var(--sm);
}

.TodoItem-text--checked {
  text-decoration: line-through;
  color: var(--text-neutral);
}

.TodoItem-cross {
  width: max-content;
  padding: 0 1rem;
}

.TodoItem-cross {
  display: grid;
  place-items: center;
  cursor: pointer;
}

@media (min-width: 768px) {
  .TodoItem {
    height: 64px;
  }

  .TodoItem-text {
    font-size: var(--base);
  }
}

@media (min-width: 1024px) {
  .TodoItem-cross {
    opacity: 0;
    transition: opacity 300ms ease;
  }

  .TodoItem-cross--visible {
    opacity: 1;
  }
}

