.TodoList-container {
  margin-top: 16px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 .25rem 1rem .5rem;
  border-radius: 0 0 6px 6px;
}

.TodoList-list {
  list-style-type: none;
}

.TodoList-footer {
  border-radius: 6px 6px 0 0;
  height: 50px;
  width: 100%;
  background-color: var(--bg-neutral-desaturated);
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.TodoList-empty {
  height: 15rem;
  display: grid;
  place-items: center;
  background-color: var(--bg-neutral-desaturated);
  border-top: 1px solid var(--bg-border);
  border-radius: 0 0 6px 6px;
}

.TodoList-empty-message {
  color: var(--text-neutral);
  padding-bottom: 1rem;
}

@media (min-width: 376px) {
  .TodoList-footer {
    justify-items: center;
    grid-template-columns: 15% 1fr 20%;
  }
}

