.Checkbox-container {
  max-width: max-content;
  padding: 0 .5rem;
  height: 100%;
  display: grid;
  place-items: center;
}

.Checkbox {
  cursor: pointer;
  width: 24px;
  height: 24px;
  border: 4px solid var(--text-neutral);
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.Checkbox--checked {
  cursor: default;
}

.Checkbox-checked-bg {
  position: absolute;
  opacity: 0;
  width: 26px;
  height: 26px;
  background-image: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border-radius: 50%;
  transition: opacity 200ms ease;
}

.Checkbox-checked-bg--visible {
  opacity: 1;
}

.Checkbox-hover-circle {
  position: absolute;
  background-color: var(--bg-neutral-desaturated);
  width: 22px;
  height: 22px;
  z-index: 1;
  border-radius: 50%;
}

.Checkbox--checked .Checkbox-hover-circle {
  display: none;
}

@media (min-width: 768px) {
  .Checkbox {
    width: 24px;
    height: 24px;
  }
}

