.Checkbox-container {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.Checkbox {
  cursor: pointer;
  width: 21px;
  height: 21px;
  border: 2px solid var(--very-dark-grayish-blue);
  border-radius: 50%;
  display: grid;
  place-items: center;
}

.Checkbox--checked {
  cursor: default;
}

.Checkbox-checked-bg {
  position: absolute;
  display: none;
  width: 26px;
  height: 26px;
  background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
  border-radius: 50%;
  transition: all 0.4s linear;
}

.Checkbox-checked-bg--visible {
  display: block;
}

.Checkbox-hover-circle {
  position: absolute;
  display: none;
  background-color: var(--very-dark-desaturated-blue);
  width: 24px;
  height: 24px;
  z-index: 1;
  border-radius: 50%;
}

@media (min-width: 376px) {
  .Checkbox {
    width: 26px;
    height: 26px;
  }

  .Checkbox-hover-circle--visible {
    display: block;
  }
}

