.TodoHeader > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.TodoHeader-author {
  color: white;
  font-size: var(--xs);
  text-align: center;
  width: 100%;
  margin-top: 1rem;
}

.TodoHeader-author > a {
  color: inherit;
  font-size: inherit;
}

.TodoHeader-author > span {
  display: none;
}

.TodoHeader-author > br {
  display: block;
}

@media (min-width: 350px) {
  .TodoHeader-author > br {
    display: none;
  }

  .TodoHeader-author > span {
    display: inline;
  }
}

@media (min-width: 768px) {
  .TodoHeader-author {
    font-size: var(--sm);
    text-align: left;
  }
}

