.TodoHeader > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.TodoHeader-author {
  color: white;
  font-size: var(--xs);
  text-align: center;
  width: 100%;
}

.TodoHeader-author > a {
  color: inherit;
  font-size: inherit;
}

@media (min-width: 376px) {
  .TodoHeader-author {
    font-size: var(--sm);
    text-align: left;
  }
}

