@import url(../vars.css);

.TodoForm {
  margin-top: 12px;
  height: 48px;
  border-radius: 6px;
  width: 100%;
  background-color: var(--bg-neutral-desaturated);
  align-items: center;
  display: flex;
  padding: 0 12px;
}

.TodoForm-input {
  height: 100%;
  outline: none;
  background-color: transparent;
  border: none;
  font-size: var(--sm);
  color: var(--text-bright);
  caret-color: var(--primary);
  width: 100%;
  padding-right: 1rem;
}

.TodoForm-button {
  background-color: var(--primary);
  color: white;
  border: none;
  padding: .4rem .8rem;
  border-radius: 8px;
  cursor: pointer;
  font-size: var(--sm);
  filter: none;
  transition: filter, color, background-color 200ms ease;
}

.TodoForm-button:hover, .TodoForm-button:focus {
  filter: brightness(1.1);
}

.TodoForm-button:disabled {
  opacity: .5;
  background-color: #aaa;
  color: var(--bg-neutral-desaturated);
  pointer-events: none;
  user-select: none;
}

@media (min-width: 376px) {
  .TodoForm {
    height: 64px;
    display: flex;
    align-items: center;
  }

  .TodoForm-input {
    margin: 0 0 0 4px;
    font-size: var(--base);
  }
}

