@import url(../vars.css);

body {
  background-color: var(--bg-neutral);
  background-repeat: no-repeat;
  background-size: contain;
  transition: background-image 200ms ease;
}

:root[data-theme="dark"] body {
  background-image: url(../images/bg-mobile-dark.jpg);
}

:root[data-theme="light"] body {
  background-image: url(../images/bg-mobile-light.jpg);
}

.App {
  width: 325px;
  margin: 0 auto;
  padding-top: 25px;
  height: 100vh;
}

.App-bottom-text {
  font-size: 14px;
  color: var(--text-neutral);
  text-align: center;
  padding: 45px 0;
}

@media (min-width: 376px) {
  :root[data-theme="dark"] body {
    background-image: url(../images/bg-desktop-dark.jpg);
  }
  
  :root[data-theme="light"] body {
    background-image: url(../images/bg-desktop-light.jpg);
  }
  .App {
    width: 600px;
  }
}

