.Button {
  background-color: transparent;
  border: none;
  color: var(--text-neutral);
  transition: color 0.05s linear;
  cursor: pointer;
}

.Button--selected {
  color: var(--primary);
  cursor: default;
}

.Button--sm {
  font-size: 11px;
}

.Button--lg {
  font-size: 14px;
  font-weight: bold;
}

@media (min-width: 376px) {
  .Button--sm {
    font-size: 13px;
  }

  .Button--lg {
    font-size: 15px;
  }

  .Button:hover {
    color: var(--text-hover);
  }

  .Button--selected {
    pointer-events: none;
  }
}

