.FiltersPanel {
  margin-top: 16px;
  border-radius: 6px;
  height: 50px;
  width: 100%;
  background-color: var(--very-dark-desaturated-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

