.Filters {
  display: flex;
  gap: .5rem;
  height: 100%;
  width: max-content;
  justify-content: space-evenly;
}

.Filters--desktop {
  display: none;
}

@media (min-width: 768px) {
  .Filters--mobile {
    display: none;
  }

  .Filters--desktop {
    display: flex;
  }
}
