:root {
  --primary: hsl(220, 98%, 61%);
  --xs: 12px;
  --sm: 14px;
  --base: 16px;
  --lg: 18px;
}

:root[data-theme="dark"] {
  --bg-neutral: hsl(235, 21%, 11%);
  --bg-neutral-desaturated: hsl(235, 24%, 19%);
  --bg-border: hsl(237, 14%, 26%);
  --text-bright: hsl(234, 39%, 85%);
  --text-hover: hsl(236, 33%, 92%);
  --text-neutral: hsl(233, 11%, 52%);
}

:root[data-theme="light"] {
  --bg-neutral: hsl(236, 33%, 92%);
  --bg-neutral-desaturated: hsl(0, 0%, 98%);
  --bg-border: hsl(233, 11%, 84%);
  --text-bright: hsl(235, 19%, 35%);
  --text-hover: hsl(235, 19%, 35%);
  --text-neutral: hsl(236, 9%, 61%);
}
